.navbar-login {
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}


.text-center {
	margin-top: 5px;
}

#image {
    border-radius: 10px;
    background: #ffffff;
    padding: 0px;
}
