#colonna_centrale {
  margin-left:2vw;
  margin-right:2vw;
}

.half:after {
    content:'';
    position:absolute;
    z-index:1;
    background:#f0f0f0;
    width: 50%;
    height: 100%;
    left: 47%;
}

#imagePath {
    border-radius: 10px;
    background: #ffffff;
    padding: 0px;
    margin-bottom: 2vw;
}
