@charset "utf-8";
/* CSS Document */

/*@font-face {
		font-family: 'Pompiere';
		src: url('http://spgroup.quidfacis.it/fonts/Comic Sans MS/comic_sans_ms_regular.eot?#iefix') format('embedded-opentype'),
			url('http://spgroup.quidfacis.it/fonts/Comic Sans MS/comic_sans_ms_regular.woff') format('woff'),
			url('http://spgroup.quidfacis.it/fonts/Comic Sans MS/comic_sans_ms_regular.ttf') format('truetype'),
			url('http://spgroup.quidfacis.it/fonts/Comic Sans MS/comic_sans_ms_regular.svg#webfont') format('svg');
		font-weight: normal;
    	font-style: normal;
	}
	*/
	
@import url('http://fonts.googleapis.com/css?family=Alegreya+Sans+SC');
@import url('http://fonts.googleapis.com/css?family=Caveat');
@import url('http://fonts.googleapis.com/css?family=Caveat+Brush');
@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url('http://fonts.googleapis.com/css?family=Cousine');
@import url('http://fonts.googleapis.com/css?family=Tinos');
@import url('http://fonts.googleapis.com/css?family=Righteous');
@import url('http://fonts.googleapis.com/css?family=Fredoka+One');
@import url('http://fonts.googleapis.com/css?family=Comfortaa');
@import url('http://fonts.googleapis.com/css?family=Spirax');
@import url('http://fonts.googleapis.com/css?family=Emilys+Candy');
@import url('http://fonts.googleapis.com/css?family=Alex+Brush');
@import url('http://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('http://fonts.googleapis.com/css?family=Mouse+Memoirs');
@import url('http://fonts.googleapis.com/css?family=Cuprum');
@import url('http://fonts.googleapis.com/css?family=Lobster+Two');
@import url('http://fonts.googleapis.com/css?family=Ruluko');
@import url('http://fonts.googleapis.com/css?family=Audiowide');
@import url('http://fonts.googleapis.com/css?family=ABeeZee');
@import url('http://fonts.googleapis.com/css?family=Petit+Formal+Script');
@import url('http://fonts.googleapis.com/css?family=Anton');
@import url('http://fonts.googleapis.com/css?family=Chewy');
@import url('http://fonts.googleapis.com/css?family=Short+Stack');
@import url('http://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('http://fonts.googleapis.com/css?family=Roboto');
@import url('http://fonts.googleapis.com/css?family=Satisfy');
@import url('http://fonts.googleapis.com/css?family=Special+Elite');
@import url('http://fonts.googleapis.com/css?family=Basic');
@import url('http://fonts.googleapis.com/css?family=Doppio+One');
@import url('http://fonts.googleapis.com/css?family=Finger+Paint');
@import url('http://fonts.googleapis.com/css?family=Averia+Sans+Libre');



